body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #nfc-data {
    margin-top: 50px;
  }
  
  #nfc-data p {
    margin-bottom: 10px;
  }
  
