<!DOCTYPE html>
<html>
<head>
  <title>Export Data</title>
</head>
<body>
  <h1>Export Data</h1>
  <p>Click the button below to export data as .xlsx:</p>
  <form action="/api/export" method="get">
    <button type="submit">Export</button>
  </form>
</body>
</html>
